<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/ync5kob.css">
    <link href="{{ "/css/main.css" | relative_url }}" rel="stylesheet">
</head>
<body class="{{ page.body_class }}">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>